<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Events</title>
</head>
<body>

<H3>Create Events</H3>
<div class="container">
    <form action="#" th:action="@{/events}" th:object="${eventDTO}" th:modelAttribute="eventDTO" method="post">

        <p > Select type of event: </p>
        <select  th:field="*{title}" name="events" id="datalistEvents">
            <option value="full-length">full-length-movie</option>
            <option value="short">short-movie</option>
            <option value="charity">charity-movie</option>
        </select>

        <p > Select film: </p>
        <select name="films" th:field="*{film}" >
            <option th:each="film : ${films}" th:value="${film.id}" th:text="${film.title}">
            </option>
        </select>

        <p> Select auditorium: </p>
        <select name="auditoriums" id="datalistAuditoriums" th:field="*{auditorium}">
            <option th:each="auditorium : ${auditoriums}" th:value="${auditorium.id}" th:text="${auditorium.title}">
            </option>
        </select>

        <p> Choose type of event: </p>
        <input  type="datetime-local" name="currentDate" />
        <input name="submit" type="submit" value="Save event" />
    </form>

</div>
</body>
</html>