<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th > User Name </th>
        <th > Roles </th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="user: ${allUsers}">
        <tr>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td > <a th:href="@{/users/user/{id}(id=${user.id})}" > Edit </a> </td>
        </tr>
    </th:block>

   <!-- <table>
        <thead>
        <tr>
            <th > User Name </th>
            <th > Roles </th>
        </tr>
        </thead>
        <th:block th:each="custom_user: ${allUsers}">
            <tr>
                <td th:text="${custom_user.email}"></td>

                    <td th:each="role: ${custom_user.roles}">
                            <p th:text="${role}"></p>
                    </td>
                <td > <a href="/users/user/${custom_user.id}}"> Edit </a> </td>
            </tr>
        </th:block>
    </table> -->

    </tbody>

</table>


</body>
</html>